// footer

.footer {

  &__image {
    background: url(../img/footer-image.png) no-repeat center top;
    -webkit-background-size: cover;
    background-size: cover;
    min-height: 50px;
  }
  &__content {
    padding-top: 18px;
    padding-bottom: 9px;
    position: relative;
    &:before {
      content: "";
      display: block;
      height: 15px;
      width: 100%;
      background: url(../img/footer-after.png) no-repeat;
      -webkit-background-size: cover;
      background-size: cover;
      position: absolute;
      top: 0;
      left: 0;
    }
    .copyright {
      color: #525252;
      text-align: center;
      line-height: 16px;
      font-size: 11px;
    }
  }
}